# Ignore Composer dependencies
/vendor/
/composer.lock

# Ignore environment variables
/config.php

# Ignore IDE-specific files
/.idea/
/*.sublime-project
/*.sublime-workspace
/.vscode/
/nbproject/
/*.sql

# Ignore system files
.DS_Store
Thumbs.db

# Ignore PHPStorm project files
.idea/

# Ignore Composer PHAR
/composer.phar
